{%load static%}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>{{room}}</title>

</head>
<body>

<div style="text-align: left; color: rgb(65, 65, 65)">
    <h3>Room : {{room}}</h3>
</div>


<div id="display" class="container"></div>
<script>
    $(document).ready(()=>{
        setInterval(()=>{
            $.ajax({
                type: 'GET',
                url: '/getmessage/{{room}}',
                success:(response)=>{
                    $("#display").empty();
                    for(let key in response.messages){
                        var temp="<div class='container darker'><b>"+response.messages[key].username+"</b>: "+response.messages[key].value+"</div>";
                        $("#display").append(temp);
                    }
                },
                error:(response)=>{
                    alert("An error occurred while loading chats");
                }
                
            });
        },1000);    
    })
</script>
<div>
    <form id="send">
        {%csrf_token%}
        <input type="hidden" name="room_id" id="room_id" value={{room_details.id}}/>
        <input type="hidden" name="username" id="username" value={{username}}/>
        <input type="text" name="message" id="message" width="100px"/>
        <input type="submit" value="Send">
    </form>
</div>
<script type="text/javascript">
    $(document).on('submit','#send',(e)=>{
        e.preventDefault()
        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                room_id:$('#room_id').val(),
                username:$('#username').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },

        });
        document.getElementById("message").value="";
    })

</script>
</body>
</html>